[Unit]
Description=Toby control plane socket

[Socket]
ListenStream=%t/toby/tobyd.sock
ListenStream=%t/toby/capability.sock
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target
